* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.1);
}
.slide-wrapper {
    margin-top:25px;
    overflow: hidden;
}
.slide {
    display: flex;
    list-style: none;
}
.slide li{
    flex-shrink: 0;
    width: 80vw;
    max-width: 750px;
    max-height: 500px;
    transform: scale(0.92);
    opacity: 0.8;
    transition: 0.3s;
}
.slide li:hover{
    will-change: transform;
}
.slide li.active{
    opacity: 1;
    transform: scale(1);
    transition: 0.3s;
}
.slide li img{
    display: block;
    width: 100%;
    max-width: 750px;
    max-height: 500px;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.4);

}
.buttons{
    display: flex;
    justify-content: space-around;
}
.buttons button{
    font-size: .75rem;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    color:#fff;
    background-color: rgb(6, 76, 206) ;
    cursor: pointer;
}
.buttons button:hover{
    background-color: rgb(2, 26, 70) ;
}

[data-tooltip='slide']{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    list-style: none;
}
[data-tooltip='slide'] li {
    display:block;
    max-width:40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
    margin-top: 35px;
    overflow: hidden;
    transform: 0.3s;
    transform: scale(0.9);
    opacity: .9;
}
[data-tooltip='slide'] li:hover, [data-tooltip='slide'] li.active {
    transform: scale(1.1);
    opacity: 1;
}
[data-tooltip='slide'] li img{
    display:block;
    max-width:40px;
    height: 40px;
    cursor: pointer;
}
@media (max-width: 500px){
    .buttons button{
        font-size: .65rem;
        font-weight: bold;
        padding: 3px 8px;
        border: none;
        border-radius: 2px;
    }
    [data-tooltip='slide'] li {
        max-width:25px;
        height: 25px;
        margin: 10px 5px;
        margin-top: 30px;
    }
    [data-tooltip='slide'] li img{
        max-width:25px;
        height: 25px;
    }
}